.logo {
    width: 300px;
    height: auto; 
    display: block; 
    margin: 20px auto; 
  }
.spotify-container {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .song-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .song-list li {
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 5px;
    border-bottom: 1px solid #444;
  }
  
  .song-list li.active {
    color: #1db954;
  }
  
  .now-playing {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
  }
  
  .player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
  }
  
  .control-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .control-button.prev {
    background-color: rgb(0, 0, 0);
  }
  
  .control-button.play-pause {
    font-size: 30px;
  }
  
  .control-button:focus {
    outline: none;
  }
  body{
    background: #1db954;
  }